<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>
    <%  posts.forEach(function(post){ %>
      <div id="home-post-container">
        <button id="home-post-delete-btn"><a href="/delete/<%=post._id%>">X</a></button>
        <button id="home-post-edit-btn"><a href="/update/<%=post._id%>">Edit</a></button>
        <h1 id="home-post-title"><a href="/posts/<%=post._id%>"><%=post.title%></a></h1>
        <% try{ %>
          <img id="home-post-image" src="data:image/<%=post.img.contentType%>;base64, 
        <%=post.img.data.toString('base64')%>" 
        />
        <%}catch{%>
          <img id="home-post-image" style="display: none;" />
        <%} %>
      </div>
      <div id="home-post-body-container">
        <p id="home-post-body"><%=post.content.substring(0, 150) + "..."%><a style="color: grey;" href="/posts/<%=post._id%>">Read More</a></p>
        
        <div id="like-container">
          <form action="/<%=post._id%>">
            <button id="like-btn" name="like" type="submit"><%= post.like %> | Like</button>     
          </form>
        </div>
      </div>
      <script>
        document.querySelector('form').addEventListener("submit", async (event) => {
          event.preventDefault();
          await fetch("/<%=post._id%>", {method: "POST"});
          const response = await fetch("/<%=post._id%>", {method: "GET"});
          const data = await response.json();
          console.log("this is data: " + data)
          document.getElementById("like-btn").textContent = `${data} | Like`;
        })
      </script>
    <% }) %>
<%- include("partials/footer"); -%>