<%- include("partials/header"); -%>
<div id="post-container"> 
    <h1 id="post-title"><%= title %></h1>
    <% try{ %>
        <img id="post-image" width="100" height="100"
    src="data:image/<%=img.contentType%>;base64,
    <%=img.data.toString('base64')%>"
    />
    <%}catch{%>
    <img id="home-post-image" style="display: none;" />
    <%} %>
    
    <div id="post-body-container">
        <p id="post-body"><%= content %></p>
    </div>
    <div class="like-container">
        <form action="/like/<%=id%>">
          <button style="margin-top: -20px; padding: 1rem;" id="like-btn-<%=id%>" name="like" type="submit"><%= like %> | Like</button>     
        </form>
      </div>
    </div>
    <button id="post-delete-btn"><a href="/delete/<%=id%>">Delete Post</a></button>
    <%- include("partials/footer"); -%>
    <script>
        document.querySelector('form').addEventListener("submit", async (event) => {
            event.preventDefault();
            // console.log("here we gooo: " + JSON.stringify(this));
            // console.log("This is: " + JSON.stringify(this));
            await fetch("/like/<%=id%>", {method: "POST"});
            const response = await fetch("/like/<%=id%>", {method: "GET"});
            const data = await response.json();
            console.log("this is data: " + `${data._id == "<%=id%>" ? "<%=id%> and " + data._id: 0}`)
            document.getElementById("like-btn-<%=id%>").textContent = `${data._id === "<%=id%>" ? data.like : null} | Like`;
        })
    </script>